@import './this-document.scss';

/*-- scss:rules --*/
div.callout.callout-style-default.callout-objective>.callout-header {
background-color: color-mix(in srgb, green, transparent 75%);
}
div.callout.callout-style-default.callout-objective{
border-left-color: green;}
div.callout.callout-style-default.callout-hint>.callout-header {
background-color: gray;
}
div.callout.callout-style-default.callout-hint{
border-left-color: #afcfff;}
div.callout.callout-style-default.callout-video>.callout-header {
background-color: color-mix(in srgb, orange, transparent 75%);
}
div.callout.callout-style-default.callout-video{
border-left-color: orange;}
div.callout.callout-style-default.callout-test>.callout-header {
background-color: color-mix(in srgb, $document-color, transparent 75%);
}
div.callout.callout-style-default.callout-test{
border-left-color: $document-color;}
